.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #111;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    yellow 11.92%,
    green 51.56%,
    yellow 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: green;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    black 0%,
    black 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}

/* From Uiverse.io by mrhyddenn */ 
.container_mouse {
  display: flex;
  flex-direction: column;
  align-items: center;   /* Centers everything horizontally */
  justify-content: center;
  gap: 8px;              /* Space between mouse and text */
  text-align: center;
  color: rgba(122, 122, 124, 0.918);
}

.container_mouse span:last-child {
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.mouse-btn {
  margin: 10px auto;
  width: 40px;
  height: 80px;
  border: 3px solid green;
  border-radius: 20px;
  display: flex;
}

.mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), green);
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1s linear infinite;
}

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

.fbutton {
  padding: 0.5em 2em;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: green;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid green;
  white-space: nowrap;
}

.fbutton:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid green;
  box-shadow: 4px 5px 17px -4px green;
}
.fbutton:hover .icon{
  color: white;
  transform: scale(1,1);
}
.icon {
  transition: color 1000ms, transform 1000ms;
}

.fbutton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #15803D;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.fbutton:hover::before {
  width: 250%;
}


.skills-container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: gray;
  opacity: 10;
  margin: 0 30px;
  padding: 1px 20px;
  border-radius: 7px;
  transition: all 300ms;
}
.skills-container:hover {
  color: #ffffff;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  opacity: 0.9;
}
.skills-container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 15px;
  margin:0 0 13px 0;
  font-weight: 600;
  color: white;
}

.skill-box .skill-bar {
  height: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: linear-gradient(to right, #3d9510 60%, white);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  width: 75%;
  animation-delay: 0.1s;
}

.skill-per.css {
  width: 70%;
  animation-delay: 0.1s;
}

.skill-per.js {
  width: 35%;
  animation-delay: 0.2s;
}

.skill-per.tailwind {
  width: 45%;
  animation-delay: 0.2s;
}

.skill-per.react {
  width: 0%;
  animation-delay: 0.2s;
}

.skill-per.vue {
  width: 0%;
  animation-delay: 0.2s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

